.vscode/
nginx/
server/
480p 2 gauges - Made with Clipchamp (1) (1).mp4
480p 2 gauges - Made with Clipchamp (1).mp4
480p 2 gauges - Made with Clipchamp.mp4
Add Glow 2 gauges - Made with Clipchamp.mp4
Dark 2 gauges - Made with Clipchamp.mp4
Evaluate/
PyWhatKit_DB.txt
TEMP/
high exposure 2 gauges - Made with Clipchamp - Copy.mp4
high exposure 2 gauges - Made with Clipchamp.mp4
model/
compose.yaml
plot1.png
plot158.png
plot1_outlier.png
plot1_outlier2.png
plot1_outlier3.png
plot2.png
plot3.png
plot4.png
plot64.png
readings_comparison.png
readings_vs_frames.png
server/.env
server/__pycache__/
server/cookies.txt
server/env/Lib/site-packages/Cython-3.0.11.dist-info/
server/env/Lib/site-packages/Cython/
server/env/Lib/site-packages/GitPython-3.1.43.dist-info/
server/env/Lib/site-packages/IPython/
server/env/Lib/site-packages/Levenshtein/
server/env/Lib/site-packages/MouseInfo-0.1.3.dist-info/
server/env/Lib/site-packages/PIL/
server/env/Lib/site-packages/PyAutoGUI-0.9.54.dist-info/
server/env/Lib/site-packages/PyGetWindow-0.0.9.dist-info/
server/env/Lib/site-packages/PyMsgBox-1.0.9.dist-info/
server/env/Lib/site-packages/PyRect-0.2.0.dist-info/
server/env/Lib/site-packages/PyScreeze-1.0.1.dist-info/
server/env/Lib/site-packages/PyYAML-6.0.2.dist-info/
server/env/Lib/site-packages/__pycache__/cython.cpython-39.pyc
server/env/Lib/site-packages/__pycache__/decorator.cpython-39.pyc
server/env/Lib/site-packages/__pycache__/isympy.cpython-39.pyc
server/env/Lib/site-packages/__pycache__/pylab.cpython-39.pyc
server/env/Lib/site-packages/__pycache__/pythoncom.cpython-39.pyc
server/env/Lib/site-packages/__pycache__/threadpoolctl.cpython-39.pyc
server/env/Lib/site-packages/_yaml/
server/env/Lib/site-packages/adodbapi/
server/env/Lib/site-packages/albucore-0.0.13.dist-info/
server/env/Lib/site-packages/albucore/
server/env/Lib/site-packages/albumentations-1.4.10.dist-info/
server/env/Lib/site-packages/albumentations/
server/env/Lib/site-packages/amqp-5.2.0.dist-info/
server/env/Lib/site-packages/amqp/
server/env/Lib/site-packages/astor-0.8.1.dist-info/
server/env/Lib/site-packages/astor/
server/env/Lib/site-packages/asttokens-2.4.1.dist-info/
server/env/Lib/site-packages/asttokens/
server/env/Lib/site-packages/async_timeout-4.0.3.dist-info/
server/env/Lib/site-packages/async_timeout/
server/env/Lib/site-packages/beautifulsoup4-4.12.3.dist-info/
server/env/Lib/site-packages/billiard-4.2.1.dist-info/
server/env/Lib/site-packages/billiard/
server/env/Lib/site-packages/blinker-1.9.0.dist-info/
server/env/Lib/site-packages/bs4/
server/env/Lib/site-packages/celery-5.4.0.dist-info/
server/env/Lib/site-packages/celery/
server/env/Lib/site-packages/click_didyoumean-0.3.1.dist-info/
server/env/Lib/site-packages/click_didyoumean/
server/env/Lib/site-packages/click_plugins-1.1.1.dist-info/
server/env/Lib/site-packages/click_plugins/
server/env/Lib/site-packages/click_repl-0.3.0.dist-info/
server/env/Lib/site-packages/click_repl/
server/env/Lib/site-packages/contourpy-1.3.0.dist-info/
server/env/Lib/site-packages/contourpy/
server/env/Lib/site-packages/cpuinfo/
server/env/Lib/site-packages/cycler-0.12.1.dist-info/
server/env/Lib/site-packages/cycler/
server/env/Lib/site-packages/cython.py
server/env/Lib/site-packages/dateutil/
server/env/Lib/site-packages/decorator-5.1.1.dist-info/
server/env/Lib/site-packages/decorator.py
server/env/Lib/site-packages/deep_sort_realtime-1.3.2.dist-info/
server/env/Lib/site-packages/deep_sort_realtime/
server/env/Lib/site-packages/docx/
server/env/Lib/site-packages/dropbox-12.0.2.dist-info/
server/env/Lib/site-packages/dropbox/
server/env/Lib/site-packages/executing-2.1.0.dist-info/
server/env/Lib/site-packages/executing/
server/env/Lib/site-packages/filelock-3.16.1.dist-info/
server/env/Lib/site-packages/filelock/
server/env/Lib/site-packages/fire-0.7.0-py3.9.egg-info/
server/env/Lib/site-packages/fire/
server/env/Lib/site-packages/flask-3.1.0.dist-info/
server/env/Lib/site-packages/flask/
server/env/Lib/site-packages/fontTools/
server/env/Lib/site-packages/fonttools-4.54.1.dist-info/
server/env/Lib/site-packages/fsspec-2024.10.0.dist-info/
server/env/Lib/site-packages/fsspec/
server/env/Lib/site-packages/functorch/
server/env/Lib/site-packages/future-1.0.0.dist-info/
server/env/Lib/site-packages/future/
server/env/Lib/site-packages/fuzzywuzzy-0.18.0.dist-info/
server/env/Lib/site-packages/fuzzywuzzy/
server/env/Lib/site-packages/git/
server/env/Lib/site-packages/gitdb-4.0.11.dist-info/
server/env/Lib/site-packages/gitdb/
server/env/Lib/site-packages/google/
server/env/Lib/site-packages/httpcore-1.0.6.dist-info/
server/env/Lib/site-packages/httpcore/
server/env/Lib/site-packages/httpx-0.27.2.dist-info/
server/env/Lib/site-packages/httpx/
server/env/Lib/site-packages/imageio-2.36.0.dist-info/
server/env/Lib/site-packages/imageio/
server/env/Lib/site-packages/imgaug-0.4.0.dist-info/
server/env/Lib/site-packages/imgaug/
server/env/Lib/site-packages/importlib_metadata-8.5.0.dist-info/
server/env/Lib/site-packages/importlib_metadata/
server/env/Lib/site-packages/importlib_resources-6.4.5.dist-info/
server/env/Lib/site-packages/importlib_resources/
server/env/Lib/site-packages/ipython-8.18.1.dist-info/
server/env/Lib/site-packages/isapi/
server/env/Lib/site-packages/isympy.py
server/env/Lib/site-packages/itsdangerous-2.2.0.dist-info/
server/env/Lib/site-packages/itsdangerous/
server/env/Lib/site-packages/jedi-0.19.2.dist-info/
server/env/Lib/site-packages/jedi/
server/env/Lib/site-packages/joblib-1.4.2.dist-info/
server/env/Lib/site-packages/joblib/
server/env/Lib/site-packages/kiwisolver-1.4.7.dist-info/
server/env/Lib/site-packages/kiwisolver/
server/env/Lib/site-packages/kombu-5.4.2.dist-info/
server/env/Lib/site-packages/kombu/
server/env/Lib/site-packages/lazy_loader-0.4.dist-info/
server/env/Lib/site-packages/lazy_loader/
server/env/Lib/site-packages/levenshtein-0.26.1.dist-info/
server/env/Lib/site-packages/libfuturize/
server/env/Lib/site-packages/libpasteurize/
server/env/Lib/site-packages/lmdb-1.5.1.dist-info/
server/env/Lib/site-packages/lmdb/
server/env/Lib/site-packages/lxml-5.3.0.dist-info/
server/env/Lib/site-packages/lxml/
server/env/Lib/site-packages/matplotlib-3.9.2.dist-info/
server/env/Lib/site-packages/matplotlib/
server/env/Lib/site-packages/matplotlib_inline-0.1.7.dist-info/
server/env/Lib/site-packages/matplotlib_inline/
server/env/Lib/site-packages/mouseinfo/
server/env/Lib/site-packages/mpl_toolkits/
server/env/Lib/site-packages/mpmath-1.3.0.dist-info/
server/env/Lib/site-packages/mpmath/
server/env/Lib/site-packages/networkx-3.2.1.dist-info/
server/env/Lib/site-packages/networkx/
server/env/Lib/site-packages/numpy-1.26.4-cp39-cp39-win_amd64.whl
server/env/Lib/site-packages/numpy-1.26.4.dist-info/
server/env/Lib/site-packages/numpy.libs/.load-order-numpy-1.26.4
server/env/Lib/site-packages/numpy.libs/libopenblas64__v0.3.23-293-gc2f4bdbb-gcc_10_3_0-2bde3a66a51006b2b53eb373ff767a3f.dll
server/env/Lib/site-packages/numpy/_core/__pycache__/_multiarray_umath.cpython-39.pyc
server/env/Lib/site-packages/numpy/_core/_multiarray_umath.py
server/env/Lib/site-packages/numpy/_typing/__pycache__/setup.cpython-39.pyc
server/env/Lib/site-packages/numpy/_typing/setup.py
server/env/Lib/site-packages/numpy/array_api/
server/env/Lib/site-packages/numpy/compat/__pycache__/setup.cpython-39.pyc
server/env/Lib/site-packages/numpy/compat/setup.py
server/env/Lib/site-packages/numpy/compat/tests/__pycache__/test_compat.cpython-39.pyc
server/env/Lib/site-packages/numpy/compat/tests/test_compat.py
server/env/Lib/site-packages/numpy/core/__pycache__/_add_newdocs.cpython-39.pyc
server/env/Lib/site-packages/numpy/core/__pycache__/_add_newdocs_scalars.cpython-39.pyc
server/env/Lib/site-packages/numpy/core/__pycache__/_asarray.cpython-39.pyc
server/env/Lib/site-packages/numpy/core/__pycache__/_exceptions.cpython-39.pyc
server/env/Lib/site-packages/numpy/core/__pycache__/_machar.cpython-39.pyc
server/env/Lib/site-packages/numpy/core/__pycache__/_methods.cpython-39.pyc
server/env/Lib/site-packages/numpy/core/__pycache__/_string_helpers.cpython-39.pyc
server/env/Lib/site-packages/numpy/core/__pycache__/_type_aliases.cpython-39.pyc
server/env/Lib/site-packages/numpy/core/__pycache__/_ufunc_config.cpython-39.pyc
server/env/Lib/site-packages/numpy/core/__pycache__/cversions.cpython-39.pyc
server/env/Lib/site-packages/numpy/core/__pycache__/memmap.cpython-39.pyc
server/env/Lib/site-packages/numpy/core/__pycache__/umath_tests.cpython-39.pyc
server/env/Lib/site-packages/numpy/core/_add_newdocs.py
server/env/Lib/site-packages/numpy/core/_add_newdocs_scalars.py
server/env/Lib/site-packages/numpy/core/_asarray.py
server/env/Lib/site-packages/numpy/core/_asarray.pyi
server/env/Lib/site-packages/numpy/core/_exceptions.py
server/env/Lib/site-packages/numpy/core/_internal.pyi
server/env/Lib/site-packages/numpy/core/_machar.py
server/env/Lib/site-packages/numpy/core/_methods.py
server/env/Lib/site-packages/numpy/core/_multiarray_tests.cp39-win_amd64.lib
server/env/Lib/site-packages/numpy/core/_multiarray_tests.cp39-win_amd64.pyd
server/env/Lib/site-packages/numpy/core/_multiarray_umath.cp39-win_amd64.lib
server/env/Lib/site-packages/numpy/core/_multiarray_umath.cp39-win_amd64.pyd
server/env/Lib/site-packages/numpy/core/_operand_flag_tests.cp39-win_amd64.lib
server/env/Lib/site-packages/numpy/core/_operand_flag_tests.cp39-win_amd64.pyd
server/env/Lib/site-packages/numpy/core/_rational_tests.cp39-win_amd64.lib
server/env/Lib/site-packages/numpy/core/_rational_tests.cp39-win_amd64.pyd
server/env/Lib/site-packages/numpy/core/_simd.cp39-win_amd64.lib
server/env/Lib/site-packages/numpy/core/_simd.cp39-win_amd64.pyd
server/env/Lib/site-packages/numpy/core/_string_helpers.py
server/env/Lib/site-packages/numpy/core/_struct_ufunc_tests.cp39-win_amd64.lib
server/env/Lib/site-packages/numpy/core/_struct_ufunc_tests.cp39-win_amd64.pyd
server/env/Lib/site-packages/numpy/core/_type_aliases.py
server/env/Lib/site-packages/numpy/core/_type_aliases.pyi
server/env/Lib/site-packages/numpy/core/_ufunc_config.py
server/env/Lib/site-packages/numpy/core/_ufunc_config.pyi
server/env/Lib/site-packages/numpy/core/_umath_tests.cp39-win_amd64.lib
server/env/Lib/site-packages/numpy/core/_umath_tests.cp39-win_amd64.pyd
server/env/Lib/site-packages/numpy/core/arrayprint.pyi
server/env/Lib/site-packages/numpy/core/cversions.py
server/env/Lib/site-packages/numpy/core/defchararray.pyi
server/env/Lib/site-packages/numpy/core/einsumfunc.pyi
server/env/Lib/site-packages/numpy/core/fromnumeric.pyi
server/env/Lib/site-packages/numpy/core/function_base.pyi
server/env/Lib/site-packages/numpy/core/getlimits.pyi
server/env/Lib/site-packages/numpy/core/include/
server/env/Lib/site-packages/numpy/core/lib/
server/env/Lib/site-packages/numpy/core/memmap.py
server/env/Lib/site-packages/numpy/core/memmap.pyi
server/env/Lib/site-packages/numpy/core/multiarray.pyi
server/env/Lib/site-packages/numpy/core/numeric.pyi
server/env/Lib/site-packages/numpy/core/numerictypes.pyi
server/env/Lib/site-packages/numpy/core/records.pyi
server/env/Lib/site-packages/numpy/core/shape_base.pyi
server/env/Lib/site-packages/numpy/core/tests/
server/env/Lib/site-packages/numpy/core/umath_tests.py
server/env/Lib/site-packages/numpy/distutils/__pycache__/setup.cpython-39.pyc
server/env/Lib/site-packages/numpy/distutils/setup.py
server/env/Lib/site-packages/numpy/doc/__init__.py
server/env/Lib/site-packages/numpy/doc/__pycache__/__init__.cpython-39.pyc
server/env/Lib/site-packages/numpy/doc/__pycache__/constants.cpython-39.pyc
server/env/Lib/site-packages/numpy/doc/constants.py
server/env/Lib/site-packages/numpy/f2py/__pycache__/setup.cpython-39.pyc
server/env/Lib/site-packages/numpy/f2py/setup.py
server/env/Lib/site-packages/numpy/f2py/tests/__pycache__/test_compile_function.cpython-39.pyc
server/env/Lib/site-packages/numpy/f2py/tests/__pycache__/test_module_doc.cpython-39.pyc
server/env/Lib/site-packages/numpy/f2py/tests/src/module_data/
server/env/Lib/site-packages/numpy/f2py/tests/src/regression/gh25337/
server/env/Lib/site-packages/numpy/f2py/tests/test_compile_function.py
server/env/Lib/site-packages/numpy/f2py/tests/test_module_doc.py
server/env/Lib/site-packages/numpy/fft/_pocketfft_internal.cp39-win_amd64.lib
server/env/Lib/site-packages/numpy/fft/_pocketfft_internal.cp39-win_amd64.pyd
server/env/Lib/site-packages/numpy/fft/helper.pyi
server/env/Lib/site-packages/numpy/lib/__pycache__/arraypad.cpython-39.pyc
server/env/Lib/site-packages/numpy/lib/__pycache__/arraysetops.cpython-39.pyc
server/env/Lib/site-packages/numpy/lib/__pycache__/arrayterator.cpython-39.pyc
server/env/Lib/site-packages/numpy/lib/__pycache__/function_base.cpython-39.pyc
server/env/Lib/site-packages/numpy/lib/__pycache__/histograms.cpython-39.pyc
server/env/Lib/site-packages/numpy/lib/__pycache__/index_tricks.cpython-39.pyc
server/env/Lib/site-packages/numpy/lib/__pycache__/nanfunctions.cpython-39.pyc
server/env/Lib/site-packages/numpy/lib/__pycache__/polynomial.cpython-39.pyc
server/env/Lib/site-packages/numpy/lib/__pycache__/setup.cpython-39.pyc
server/env/Lib/site-packages/numpy/lib/__pycache__/shape_base.cpython-39.pyc
server/env/Lib/site-packages/numpy/lib/__pycache__/twodim_base.cpython-39.pyc
server/env/Lib/site-packages/numpy/lib/__pycache__/type_check.cpython-39.pyc
server/env/Lib/site-packages/numpy/lib/__pycache__/ufunclike.cpython-39.pyc
server/env/Lib/site-packages/numpy/lib/__pycache__/utils.cpython-39.pyc
server/env/Lib/site-packages/numpy/lib/arraypad.py
server/env/Lib/site-packages/numpy/lib/arraypad.pyi
server/env/Lib/site-packages/numpy/lib/arraysetops.py
server/env/Lib/site-packages/numpy/lib/arraysetops.pyi
server/env/Lib/site-packages/numpy/lib/arrayterator.py
server/env/Lib/site-packages/numpy/lib/arrayterator.pyi
server/env/Lib/site-packages/numpy/lib/function_base.py
server/env/Lib/site-packages/numpy/lib/function_base.pyi
server/env/Lib/site-packages/numpy/lib/histograms.py
server/env/Lib/site-packages/numpy/lib/histograms.pyi
server/env/Lib/site-packages/numpy/lib/index_tricks.py
server/env/Lib/site-packages/numpy/lib/index_tricks.pyi
server/env/Lib/site-packages/numpy/lib/nanfunctions.py
server/env/Lib/site-packages/numpy/lib/nanfunctions.pyi
server/env/Lib/site-packages/numpy/lib/polynomial.py
server/env/Lib/site-packages/numpy/lib/polynomial.pyi
server/env/Lib/site-packages/numpy/lib/setup.py
server/env/Lib/site-packages/numpy/lib/shape_base.py
server/env/Lib/site-packages/numpy/lib/shape_base.pyi
server/env/Lib/site-packages/numpy/lib/tests/__pycache__/test_financial_expired.cpython-39.pyc
server/env/Lib/site-packages/numpy/lib/tests/test_financial_expired.py
server/env/Lib/site-packages/numpy/lib/twodim_base.py
server/env/Lib/site-packages/numpy/lib/twodim_base.pyi
server/env/Lib/site-packages/numpy/lib/type_check.py
server/env/Lib/site-packages/numpy/lib/type_check.pyi
server/env/Lib/site-packages/numpy/lib/ufunclike.py
server/env/Lib/site-packages/numpy/lib/ufunclike.pyi
server/env/Lib/site-packages/numpy/lib/utils.py
server/env/Lib/site-packages/numpy/lib/utils.pyi
server/env/Lib/site-packages/numpy/linalg/linalg.pyi
server/env/Lib/site-packages/numpy/ma/__pycache__/setup.cpython-39.pyc
server/env/Lib/site-packages/numpy/ma/setup.py
server/env/Lib/site-packages/numpy/matrixlib/__pycache__/setup.cpython-39.pyc
server/env/Lib/site-packages/numpy/matrixlib/setup.py
server/env/Lib/site-packages/numpy/polynomial/__pycache__/setup.cpython-39.pyc
server/env/Lib/site-packages/numpy/polynomial/setup.py
server/env/Lib/site-packages/numpy/testing/__pycache__/setup.cpython-39.pyc
server/env/Lib/site-packages/numpy/testing/setup.py
server/env/Lib/site-packages/numpy/typing/__pycache__/setup.cpython-39.pyc
server/env/Lib/site-packages/numpy/typing/setup.py
server/env/Lib/site-packages/opencv_python-4.10.0.84.dist-info/
server/env/Lib/site-packages/opt_einsum-3.3.0.dist-info/
server/env/Lib/site-packages/opt_einsum/
server/env/Lib/site-packages/packaging-24.1.dist-info/
server/env/Lib/site-packages/packaging/
server/env/Lib/site-packages/paddle/
server/env/Lib/site-packages/paddleocr-2.9.1.dist-info/
server/env/Lib/site-packages/paddleocr/
server/env/Lib/site-packages/paddlepaddle_gpu-2.6.1.dist-info/
server/env/Lib/site-packages/pandas-2.2.3.dist-info/
server/env/Lib/site-packages/pandas.libs/
server/env/Lib/site-packages/pandas/
server/env/Lib/site-packages/parso-0.8.4.dist-info/
server/env/Lib/site-packages/parso/
server/env/Lib/site-packages/past/
server/env/Lib/site-packages/pillow-11.0.0.dist-info/
server/env/Lib/site-packages/pip-24.3.1.dist-info/
server/env/Lib/site-packages/pip/__pip-runner__.py
server/env/Lib/site-packages/pip/__pycache__/__pip-runner__.cpython-39.pyc
server/env/Lib/site-packages/pip/_internal/cli/__pycache__/index_command.cpython-39.pyc
server/env/Lib/site-packages/pip/_internal/cli/index_command.py
server/env/Lib/site-packages/pip/_internal/commands/__pycache__/inspect.cpython-39.pyc
server/env/Lib/site-packages/pip/_internal/commands/inspect.py
server/env/Lib/site-packages/pip/_internal/metadata/__pycache__/_json.cpython-39.pyc
server/env/Lib/site-packages/pip/_internal/metadata/_json.py
server/env/Lib/site-packages/pip/_internal/metadata/importlib/
server/env/Lib/site-packages/pip/_internal/models/__pycache__/installation_report.cpython-39.pyc
server/env/Lib/site-packages/pip/_internal/models/installation_report.py
server/env/Lib/site-packages/pip/_internal/operations/build/__pycache__/build_tracker.cpython-39.pyc
server/env/Lib/site-packages/pip/_internal/operations/build/__pycache__/metadata_editable.cpython-39.pyc
server/env/Lib/site-packages/pip/_internal/operations/build/__pycache__/wheel_editable.cpython-39.pyc
server/env/Lib/site-packages/pip/_internal/operations/build/build_tracker.py
server/env/Lib/site-packages/pip/_internal/operations/build/metadata_editable.py
server/env/Lib/site-packages/pip/_internal/operations/build/wheel_editable.py
server/env/Lib/site-packages/pip/_internal/utils/__pycache__/_jaraco_text.cpython-39.pyc
server/env/Lib/site-packages/pip/_internal/utils/__pycache__/egg_link.cpython-39.pyc
server/env/Lib/site-packages/pip/_internal/utils/__pycache__/retry.cpython-39.pyc
server/env/Lib/site-packages/pip/_internal/utils/_jaraco_text.py
server/env/Lib/site-packages/pip/_internal/utils/egg_link.py
server/env/Lib/site-packages/pip/_internal/utils/retry.py
server/env/Lib/site-packages/pip/_vendor/__pycache__/typing_extensions.cpython-39.pyc
server/env/Lib/site-packages/pip/_vendor/cachecontrol/py.typed
server/env/Lib/site-packages/pip/_vendor/certifi/py.typed
server/env/Lib/site-packages/pip/_vendor/distlib/t64-arm.exe
server/env/Lib/site-packages/pip/_vendor/distlib/w64-arm.exe
server/env/Lib/site-packages/pip/_vendor/distro/
server/env/Lib/site-packages/pip/_vendor/idna/py.typed
server/env/Lib/site-packages/pip/_vendor/packaging/__pycache__/_elffile.cpython-39.pyc
server/env/Lib/site-packages/pip/_vendor/packaging/__pycache__/_parser.cpython-39.pyc
server/env/Lib/site-packages/pip/_vendor/packaging/__pycache__/_tokenizer.cpython-39.pyc
server/env/Lib/site-packages/pip/_vendor/packaging/__pycache__/metadata.cpython-39.pyc
server/env/Lib/site-packages/pip/_vendor/packaging/_elffile.py
server/env/Lib/site-packages/pip/_vendor/packaging/_parser.py
server/env/Lib/site-packages/pip/_vendor/packaging/_tokenizer.py
server/env/Lib/site-packages/pip/_vendor/packaging/metadata.py
server/env/Lib/site-packages/pip/_vendor/packaging/py.typed
server/env/Lib/site-packages/pip/_vendor/platformdirs/
server/env/Lib/site-packages/pip/_vendor/pygments/
server/env/Lib/site-packages/pip/_vendor/pyproject_hooks/
server/env/Lib/site-packages/pip/_vendor/resolvelib/py.typed
server/env/Lib/site-packages/pip/_vendor/rich/
server/env/Lib/site-packages/pip/_vendor/tomli/__pycache__/_types.cpython-39.pyc
server/env/Lib/site-packages/pip/_vendor/tomli/_types.py
server/env/Lib/site-packages/pip/_vendor/tomli/py.typed
server/env/Lib/site-packages/pip/_vendor/truststore/
server/env/Lib/site-packages/pip/_vendor/typing_extensions.py
server/env/Lib/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__/weakref_finalize.cpython-39.pyc
server/env/Lib/site-packages/pip/_vendor/urllib3/packages/backports/weakref_finalize.py
server/env/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/ssl_match_hostname.cpython-39.pyc
server/env/Lib/site-packages/pip/_vendor/urllib3/util/ssl_match_hostname.py
server/env/Lib/site-packages/ply-3.11.dist-info/
server/env/Lib/site-packages/ply/
server/env/Lib/site-packages/prompt_toolkit-3.0.48.dist-info/
server/env/Lib/site-packages/prompt_toolkit/
server/env/Lib/site-packages/protobuf-3.20.2-py3.9-nspkg.pth
server/env/Lib/site-packages/protobuf-3.20.2.dist-info/
server/env/Lib/site-packages/psutil-6.1.0.dist-info/
server/env/Lib/site-packages/psutil/
server/env/Lib/site-packages/pure_eval-0.2.3.dist-info/
server/env/Lib/site-packages/pure_eval/
server/env/Lib/site-packages/py_cpuinfo-9.0.0.dist-info/
server/env/Lib/site-packages/pyautogui/
server/env/Lib/site-packages/pyclipper-1.3.0.post6.dist-info/
server/env/Lib/site-packages/pyclipper/
server/env/Lib/site-packages/pycocotools-2.0.8.dist-info/
server/env/Lib/site-packages/pycocotools/
server/env/Lib/site-packages/pygetwindow/
server/env/Lib/site-packages/pygments-2.18.0.dist-info/
server/env/Lib/site-packages/pygments/
server/env/Lib/site-packages/pylab.py
server/env/Lib/site-packages/pymsgbox/
server/env/Lib/site-packages/pyparsing-3.2.0.dist-info/
server/env/Lib/site-packages/pyparsing/
server/env/Lib/site-packages/pyperclip-1.9.0-py3.9.egg-info/
server/env/Lib/site-packages/pyperclip/
server/env/Lib/site-packages/pyrect/
server/env/Lib/site-packages/pyscreeze/
server/env/Lib/site-packages/python_Levenshtein-0.26.1.dist-info/
server/env/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/
server/env/Lib/site-packages/python_docx-1.1.2.dist-info/
server/env/Lib/site-packages/pythoncom.py
server/env/Lib/site-packages/pythonwin/
server/env/Lib/site-packages/pytweening-1.2.0-py3.9.egg-info/
server/env/Lib/site-packages/pytweening/
server/env/Lib/site-packages/pytz-2024.2.dist-info/
server/env/Lib/site-packages/pytz/
server/env/Lib/site-packages/pywhatkit-5.4.dist-info/
server/env/Lib/site-packages/pywhatkit/
server/env/Lib/site-packages/pywin32-308.dist-info/
server/env/Lib/site-packages/pywin32.pth
server/env/Lib/site-packages/pywin32.version.txt
server/env/Lib/site-packages/pywin32_system32/
server/env/Lib/site-packages/pyximport/
server/env/Lib/site-packages/rapidfuzz-3.10.1.dist-info/
server/env/Lib/site-packages/rapidfuzz/
server/env/Lib/site-packages/redis-5.2.0.dist-info/
server/env/Lib/site-packages/redis/
server/env/Lib/site-packages/scikit_image-0.24.0.dist-info/
server/env/Lib/site-packages/scikit_learn-1.5.2.dist-info/
server/env/Lib/site-packages/scipy-1.13.1-cp39-cp39-win_amd64.whl
server/env/Lib/site-packages/scipy-1.13.1.dist-info/
server/env/Lib/site-packages/scipy.libs/
server/env/Lib/site-packages/scipy/
server/env/Lib/site-packages/seaborn-0.13.2.dist-info/
server/env/Lib/site-packages/seaborn/
server/env/Lib/site-packages/shapely-2.0.6.dist-info/
server/env/Lib/site-packages/shapely.libs/
server/env/Lib/site-packages/shapely/
server/env/Lib/site-packages/skimage/
server/env/Lib/site-packages/sklearn/
server/env/Lib/site-packages/smmap-5.0.1.dist-info/
server/env/Lib/site-packages/smmap/
server/env/Lib/site-packages/soupsieve-2.6.dist-info/
server/env/Lib/site-packages/soupsieve/
server/env/Lib/site-packages/stack_data-0.6.3.dist-info/
server/env/Lib/site-packages/stack_data/
server/env/Lib/site-packages/stone-3.3.1.dist-info/
server/env/Lib/site-packages/stone/
server/env/Lib/site-packages/sympy-1.13.1.dist-info/
server/env/Lib/site-packages/sympy/
server/env/Lib/site-packages/termcolor-2.5.0.dist-info/
server/env/Lib/site-packages/termcolor/
server/env/Lib/site-packages/tests/
server/env/Lib/site-packages/thop/
server/env/Lib/site-packages/threadpoolctl-3.5.0.dist-info/
server/env/Lib/site-packages/threadpoolctl.py
server/env/Lib/site-packages/tifffile-2024.8.30.dist-info/
server/env/Lib/site-packages/tifffile/
server/env/Lib/site-packages/tomli-2.1.0.dist-info/
server/env/Lib/site-packages/tomli/
server/env/Lib/site-packages/torch-2.5.0+cu118.dist-info/
server/env/Lib/site-packages/torch/
server/env/Lib/site-packages/torchaudio-2.5.0+cu118.dist-info/
server/env/Lib/site-packages/torchaudio/
server/env/Lib/site-packages/torchgen/
server/env/Lib/site-packages/torchvision-0.20.0+cu118.dist-info/
server/env/Lib/site-packages/torchvision/
server/env/Lib/site-packages/torio/
server/env/Lib/site-packages/tqdm-4.66.5.dist-info/
server/env/Lib/site-packages/tqdm/
server/env/Lib/site-packages/traitlets-5.14.3.dist-info/
server/env/Lib/site-packages/traitlets/
server/env/Lib/site-packages/tzdata-2024.2.dist-info/
server/env/Lib/site-packages/tzdata/
server/env/Lib/site-packages/ultralytics-8.3.21.dist-info/
server/env/Lib/site-packages/ultralytics/
server/env/Lib/site-packages/ultralytics_thop-2.0.9.dist-info/
server/env/Lib/site-packages/uvicorn-0.32.1.dist-info/
server/env/Lib/site-packages/vine-5.1.0.dist-info/
server/env/Lib/site-packages/vine/
server/env/Lib/site-packages/wcwidth-0.2.13.dist-info/
server/env/Lib/site-packages/wcwidth/
server/env/Lib/site-packages/werkzeug-3.1.3.dist-info/
server/env/Lib/site-packages/werkzeug/
server/env/Lib/site-packages/wikipedia-1.4.0-py3.9.egg-info/
server/env/Lib/site-packages/wikipedia/
server/env/Lib/site-packages/win32/
server/env/Lib/site-packages/win32com/
server/env/Lib/site-packages/win32comext/
server/env/Lib/site-packages/yaml/
server/env/Lib/site-packages/yt_dlp-2024.11.4.dist-info/
server/env/Lib/site-packages/yt_dlp/
server/env/Lib/site-packages/zipp-3.20.2.dist-info/
server/env/Lib/site-packages/zipp/
server/env/Lib/site-packages/~orch-2.5.0.dist-info/
server/env/Lib/site-packages/~orchgen/
server/env/Scripts/__pycache__/
server/env/Scripts/celery.exe
server/env/Scripts/convert-caffe2-to-onnx.exe
server/env/Scripts/convert-onnx-to-caffe2.exe
server/env/Scripts/cpuinfo.exe
server/env/Scripts/cygdb.exe
server/env/Scripts/cython.exe
server/env/Scripts/cythonize.exe
server/env/Scripts/flask.exe
server/env/Scripts/fleetrun.exe
server/env/Scripts/fonttools.exe
server/env/Scripts/futurize.exe
server/env/Scripts/httpx.exe
server/env/Scripts/imageio_download_bin.exe
server/env/Scripts/imageio_remove_bin.exe
server/env/Scripts/ipython.exe
server/env/Scripts/ipython3.exe
server/env/Scripts/isympy.exe
server/env/Scripts/lsm2bin.exe
server/env/Scripts/paddleocr.exe
server/env/Scripts/pasteurize.exe
server/env/Scripts/pyftmerge.exe
server/env/Scripts/pyftsubset.exe
server/env/Scripts/pygmentize.exe
server/env/Scripts/pywin32_postinstall.py
server/env/Scripts/pywin32_testall.py
server/env/Scripts/stone.exe
server/env/Scripts/tiff2fsspec.exe
server/env/Scripts/tiffcomment.exe
server/env/Scripts/tifffile.exe
server/env/Scripts/torchfrtrace.exe
server/env/Scripts/torchrun.exe
server/env/Scripts/tqdm.exe
server/env/Scripts/ttx.exe
server/env/Scripts/ultralytics.exe
server/env/Scripts/yolo.exe
server/env/Scripts/yt-dlp.exe
server/env/Test_and_Evaluate/
server/env/database_models/
server/env/share/
server/requirements.txt
server/temp/
server/test.py
test.mp4